

<div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; Your Website 2021</div>
        <div>
            <p>Group 5: Small Library Management</p>
        </div>
    </div>
</div>




